body{
    background-color: #272e4f;
    color: #fff;
}

.bg {
    background: rgb(39,46,79);
    background: linear-gradient(0deg, #272e4f 0%, #777d98 100%);
}

a:hover {
    color: #fff;
}
#countdown {
    color: #ffffff;
    border-radius: 8px;
    background-color: #00000045;
}


#loader {
    position: fixed;
    top: 50%;
    left: 47%;
    transform: translate(-50% -50%);
}

.loader-con {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000eb;
}

.list-group-item {
    background: transparent;
    color: #fff;
}

    img {
        margin: 1px;
        padding: 10px;
        float: left;
        object-position: left;
        object-position: bottom;
    }

.form-text {
    color: #ff0000;
}

.form-control {
    background-color: #272e4f;
    color: #fff;
}

.form-control:focus {
    color: #ffffff;
    background-color: #353c62;
    border-color: #0088ffa9;
    outline: 0;
    box-shadow: 0 0 0 .25rem #0d6efd40
}

.form-check-input:checked {
    background-color: #272e4f;
    border-color: #0088ffa9;
}

.button-64 {
  align-items: center;
  background: rgb(39,46,79);
background: radial-gradient(circle, rgba(39,46,79,1) 0%, rgba(119,125,152,1) 100%);
  border: 0;
  border-radius: 8px;
  box-shadow: #272e4f7c 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: #272e4f;
  padding: 5px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

.modal-body
{
    background: #777d98;
}

.modal-header
{
    background: #272e4f;
}
@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}